<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Add Funds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginregister.css') }}">
</head>

<body>

    <form class="box" action="/addfunds" method="POST">
        <h1>Add Funds</h1>
        <input type="text" name="uid" placeholder="ID">
        <input type="password" name="pin" placeholder="PIN">
        <input type="text" name="funds" placeholder="Funds">
        <input type="submit" name="" value="Add Funds">
        <button type="button" onclick="window.location.href='{{ url_for( 'index') }}';">Back</button>
    </form>


</body>

</html>